artist_component {
	display: block;
	float: left;

}
artist_component artist_name{
	color: @brand-lightest;
	font-size: @font-size-h3;
 	display: inline-block; 
}

artist_component  artist_image{
	-moz-border-radius:30px 30px 30px 30px;
	-o-border-radius:30px 30px 30px 30px;
	-webkit-border-radius:30px 30px 30px 30px;
	border-radius:30px 30px 30px 30px;
	height: @font-size-h3 * 1.5;
	width: @font-size-h3 * 1.5;
	display: inline-block;
	margin-left: @font-size-h3 * 0.25;
	margin-right: @font-size-h3;
    margin-bottom: -@font-size-h3 * 0.35; 
	background-size: cover;
    background-repeat: no-repeat;
}