.cart {
	padding-top: 100px;
	padding-bottom: 200px;
}
.cartEntry .cover {
	width: 10%;
}
.cartEntry .cover img {
	border: 0px solid;
}
.cartEntry td{
	padding-left: 1%;
	padding-right: 1%;
	border-bottom: 1px solid @brand-lighter;
}


.cart table{

}