.cartPage{
	background-color: @brand-darkest;
	color: @brand-lightest;
}
.cart {
	padding-top: 100px;
	padding-bottom: 200px;
}

.cartEntry .cover {
	width: 50px;
	height: 58px;
	margin-left: 5px;
	padding-top: 6px;
	padding-bottom: 2px;
}
.cartEntry .cover img{
	margin-left: 9px;
	margin-right: 9px;
	border: 0px solid #fff;
}
.cartEntry td {
	padding: 0px;
	margin: 0px;
	height: 40px !important;
	font-size: @font-size-very-small;
	border-bottom: 1px solid @brand-darker;
}
.cartEntry tr {
	padding: 0px;
	margin: 0px;
}

.cartEntry .verticalLine{
  border-left: 1px solid @brand-darker;
  margin-left: 30px;
  bottom: 20px;
  display: block;
  position: absolute;
}
.cartEntry .expandItem{
	height: 20px !important;
	background-color: fade(@brand-neutral, 10%);
	border-bottom: 0px solid @brand-darker;
	text-align: center;
}

.cartEntry .tdNoCover {
	border-bottom: 0px !important;
	vertical-align: top;
	padding-right: 5px;
	position: relative;
}

.cart > table{
	margin-top: 20px;
	border-style: double;
	border-width: 4px 0px 4px 0px;
	border-color: @brand-darker;
}

.cartEntry table { 
	width: 100%;
}
.cartEntry .coverTD{
	width: 60px;
	margin-right: 10px;
}
.cartEntry .titleTD {
	text-align: left;
	width: 25%;
	padding-left: 1%;
}
.cartEntry .forceHeight {
	height: 60px !important;
}
.cartEntry .artistTD{
	width: 20%;
}
.cartEntry .labelTD{
	width: 10%;
}
.cartEntry .genreTD{
	width: 10%;
}
.cartEntry .lengthTD{
	width: 10%;
}
.cartEntry .addRemoveButtonTD{
	text-align: right;
	width: 15%;
}
.cartEntry .costTD{
	text-align: right;
	padding-right: 2%;
	width: 8%;
}